{% extends 'bootstrap/base.html' %}

{% block title %}Cadastrar Coletor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Cadastrar Coletor</h1>
    <form method="POST" action="{{ url_for('cadastrar_coletor') }}" class="mt-4">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="mac">MAC:</label>
            <input type="text" name="mac" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Coletor</button>
    </form>
</div>
{% endblock %}
