{% extends 'bootstrap/base.html' %}

{% block title %}Cadastrar Visitante{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Cadastrar Visitante</h1>
    <form method="POST" action="{{ url_for('cadastrar_visitante') }}" class="mt-4">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" class="form-control" id="cpf" required>
        </div>
        <div class="form-group">
            <label for="mac">MAC:</label>
            <input type="text" name="mac" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Visitante</button>
    </form>
</div>

<script>
function formatCPF(cpf) {
    cpf = cpf.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
    cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Insere um ponto após os primeiros três dígitos
    cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); // Insere um ponto após os próximos três dígitos
    cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); // Insere um traço antes dos últimos dois dígitos
    return cpf;
}

function formatCPFField() {
    var cpfInput = document.getElementById('cpf');
    cpfInput.value = formatCPF(cpfInput.value);
}

// Adiciona o evento oninput para formatar o CPF em tempo real
document.getElementById('cpf').addEventListener('input', formatCPFField);
</script>
{% endblock %}
