{% extends 'bootstrap/base.html' %}

{% block title %}Cadastrar Mac Address{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Cadastrar Mac Address</h1>
    <form method="POST" action="{{ url_for('cadastrar') }}" class="mt-4">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="mac">Mac:</label>
            <input type="text" name="mac" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select name="tipo" class="form-control" required>
                <option value="">Selecione</option>
                <option value="Celular">Celular</option>
                <option value="Notebook">Notebook</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
