{% extends 'bootstrap/base.html' %}

{% block title %}Editar Mac Address{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Editar Mac Address</h1>
    <form method="POST" action="{{ url_for('editar', id=mac_address['id']) }}" class="mt-4">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" value="{{ mac_address['nome'] }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" value="{{ mac_address['matricula'] }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="mac">Mac:</label>
            <input type="text" name="mac" value="{{ mac_address['mac'] }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select name="tipo" class="form-control" required>
                <option value="">Selecione</option>
                <option value="Celular" {% if mac_address['tipo'] == 98 %}selected{% endif %}>Celular</option>
                <option value="Notebook" {% if mac_address['tipo'] == 22 %}selected{% endif %}>Notebook</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
