{% extends 'bootstrap/base.html' %}

{% block title %}Lista de Mac Addresses{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Lista de Mac Addresses</h1>

    <!-- Utilize a classe btn-group e btn-group-horizontal para agrupar os botões horizontalmente -->
    <div class="btn-group btn-group-horizontal">
        <a href="{{ url_for('cadastrar') }}" class="btn btn-success">Cadastrar novo Mac Address</a>
        <a href="{{ url_for('cadastrar_coletor') }}" class="btn btn-info">Cadastrar Coletor</a> <!-- Botão de cadastrar coletor -->
        <a href="{{ url_for('cadastrar_visitante') }}" class="btn btn-info">Cadastrar Visitante</a> <!-- Botão de cadastrar visitante -->
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th>MAC</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for mac_address in mac_addresses %}
            <tr>
                <td>{{ mac_address['nome'] }}</td>
                <td>{{ mac_address['matricula'] }}</td>
                <td>{{ mac_address['mac'] }}</td>
                <td>{{ mac_address['tipo'] }}</td>
                <td>
                    <a href="{{ url_for('excluir', id=mac_address['id']) }}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}