<!DOCTYPE html>
<html>
<body>
  <h1>Lista de MAC Address</h1>
  <table>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>MAC</th>
      <th>Tipo</th>
      <th>Excluir</th>
    </tr>
    {% for mac in macs %}
    <tr>
      <td>{{ mac.nome }}</td>
      <td>{{ mac.matricula }}</td>
      <td>{{ mac.mac }}</td>
      <td>{{ mac.tipo }}</td>
      <td>
        <form method="POST" action="{{ url_for('excluir_mac', mac_id=mac.id) }}">
          <input type="submit" value="Excluir">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
