{% extends 'bootstrap/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <form class="mt-4" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="username">Usuário</label>
            {{ form.username(class="form-control", placeholder="Digite seu usuário") }}
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            {{ form.password(class="form-control", placeholder="Digite sua senha") }}
        </div>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}
